{% extends "base.html" %}

{% block title %}Student Tests{% endblock %}

{% block content %}
<h2>Available Tests</h2>

<div class="table-wrapper">
    <table>
        <tr>
            <th>Test ID</th>
            <th>Title</th>
            <th>Duration</th>
            <th>Created By</th>
            <th>View</th>
            <th>Attempt</th>
        </tr>
        {% for test in tests %}
        <tr>
            <td>{{ test[0] }}</td>
            <td>{{ test[1] }}</td>
            <td>{{ test[2] }} mins</td>
            <td>{{ test[3] }}</td>
            <td><a class="small-button" href="/student_test/{{ test[0] }}">View</a></td>
            <td><a class="small-button" href="/attempt/{{ test[0] }}">Attempt</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}